.introduction {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.food_picture {
  width: 400px;
  height: 350px;
}
.stew_info {
  width: 400px;
}
.steps {
  width: 400px;
}
